@model IEnumerable<UserListEdit>
    <a asp-action="Create" asp-controller="Home" class="text-white py-2.5 px-5 rounded-lg bg-blue-600 hover\:bg-blue-800 focus\:ring-blue-300 foucs:outline-none focus:ring">Add  New User</a>
<div class="d-flex flex-wrap gap-2">
    @* @foreach(var i in Model)
    {
        @* <p>@i.Id</p>
        <p>@i.Name</p>
        <p>@i.Address</p> 
         <a asp-action="GetUserDetails" asp-route-id="@i.Id">Details</a> *@
    @*      <div class="card m-3">
             <div class="card-body">
                <p>@i.Id</p>
                <p>@i.Name</p>
                <p>@i.Address</p>
                <a asp-action="GetUserDetails" asp-route-id="@i.Id" asp-route-name="@i.Name">Details</a>
             </div>
         </div>
    } *@ 

    @if(Model.Count() > 0 || Model!= null)
    {
        @foreach (var i in Model)
        {
            <div class="card m-3">
                <div class="card-body">
                    <p>@i.UserId</p>
                    <p>@i.UserName</p>
                    <a asp-action="GetUserDetails" asp-route-id="@i.EncId" asp-route-name="@i.UserName">Details</a>
                </div>
            </div>
        }
    } else{
        <div class="text-gray-600" style="margin-top:200px;">
            <p>Data not found</p>
        </div>
    }
</div>
